@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */
/* font-family: 'Monoton', cursive; */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* background: linear-gradient(to left, black,rgba(0, 0, 0, 0.432), black); */
}

a, a:active , a:visited{
    color: black !important;
}

.section-1 {
    height: 100vh;
}

/*Left portion and right portion*/

.left, .right {
    width: 50%;
    height: 100vh; /*Both divs need to have same height*/
}

.left {
    float: left;
    /* background-color: #f0dead3d; */
    /* border-right: 10px solid transparent; */

}

.right {
    float: right;
    /* background: linear-gradient(180deg,#EF1D25,#780F13); */
    /* background: linear-gradient(180deg,#ac2299,#420544); */
    /* background: linear-gradient(120deg,#E24040,#991c1e); */
    transition-duration: 0.5s;
    /* border-top: 100px solid red;
    border-left: 100px solid transparent; */
    border-bottom: 100vh solid #ed4754;
    border-left: 10px solid transparent;
    /* background-image: url('/images/back.gif'); */
    background-size: cover;
    background-repeat: no-repeat;

}

.left-content { 
    float: right;
    padding-right: 10px;
    color: #707070;
    
}

.right-content {
    padding-left: 10px;
    float: left;
  
}

.left-content , .right-content {
    font-size: 45px;
    padding-top: 270px ;
    font-family: 'Orbitron', sans-serif !important; 

}

/* .right:hover {
    transform: translateX(200px);
    background: linear-gradient(180deg,#380b0d,#780F13);
} */

/*Using JQUERY to change the effects of another css while hovering over another*/


/*Left Lines*/

.left-lines {
    /* position: fixed; */
    float: left;
    margin-left: 50px;
}

.left-lines img {
    margin-left: -20px;
    margin-right: -60px;
    height: 100vh;
}

.left-lines img:nth-child(odd), .right-lines img:nth-child(odd){
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

.left-lines img:nth-child(even), .right-lines img:nth-child(even){
    animation-name: moveRev;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes move {
    0%{
        transform:  rotateY(0deg);
    }
    100% {
        transform:  rotateY(-360deg);
    }
}

@keyframes moveRev {
    0%{
        transform:  rotateY(0deg);
    }
    100% {
        transform:  rotateY(360deg);
    }
}

/*Right lines*/

.right-lines {
    /* position: fixed; */
    margin-right: 20px;
    /* right: 0; */
    float: right;
    /* padding-left: 150px !important; */
}

.right-lines img {
    margin-left: -60px;
    margin-right: -20px;
    height: 100vh;

}

/*Option left*/

.option-left {
    position: absolute;
    bottom: 100px;
    left: 100px;
    font-size: 40px;
}

.option-right {
    position: absolute;
    top: 100px;
    right: 100px;
    font-size: 40px;

}

.option-right a:link, .option-right a:visited, .option-right a:hover {
    text-decoration: none;
}

a:hover {
    text-decoration: none!important;
}

/* .option-left span, .option-right span {
    border: 2px solid black;
    border-top: 50px solid black;
    transform: rotateY(180deg)!important;
} */

/* .option-right::after, .option-left::after{
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 5px;
    right: 0px;
    background-color: black;
} */

/* .option-right::after {
    align-items: flex-end;
} */

.ripple-button-right , .ripple-button-left {
    position:relative;
	width:50px;
    height:75px;
    /* background-color: blanchedalmond; */
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.ripple-button-right a:hover {
    text-decoration: none;
}

.wave-right, .wave-left {
    position: absolute;
    height:75px;
    transform: scale(1.5);
	opacity:0;
}

.wave-right {
    width:200px;
    border: 3px solid snow;
	top:-4px;
	left:-4px;
}

.wave-left {
    width:180px;
    border: 3px solid rgb(20, 20, 20);
	bottom:-4px;
	left: -6px;
}

.ripple-button-right:hover > .wave-right, .ripple-button-left:hover > .wave-left {
    animation: ripple-in 2s;
}

/* .ripple-button-left:hover + .right {
    background-color: snow;
} */ /*Use JQuery */


@keyframes ripple-in {
    0% {
        transform: scale(0);
        opacity:0;

    }
    50% {
        transform: scale(1.1) ;
        opacity:0.8;
    }
    100% {
        transform: scale(1.5);
        opacity:0.05;
    }
   }

   @media screen and (max-width: 973px) {
        .left-content, .right-content {
        font-size: 30px;

        }

        .option-left, .option-right {
        font-size: 25px;
         
        }

        .left-content {
            padding-right: 5px;
        }

        .right-content {
            padding-left: 5px;
        }

        .wave-right {
            width:125px;
            height:60px;
            top:0px;
        }

        .wave-left {
            width:118px;
            height:60px;
            bottom:6px;
        }

        .background-font{
            font-size: 4em;
        }
    }

    @media screen and (min-width: 440px) {
        /* .section-2 {
            height: 90vh !important;
        } */
    }

    @media screen and (max-width: 490px) {
        .left-content, .right-content {
            font-size: 16px;
    
        }
        .option-left, .option-right {
            font-size: 20px;
        }

        .option-left {
            bottom: 50px;
            left: 40px;
        }

        .option-right {
            top: 50px;
            right: 40px;
        }

        .wave-right {
            width: 80px;
            height:40px;
            left: 6px;
            top: 12px;
        }

        .wave-left {
            width:80px;
            height:40px;
            bottom:17px;
            left: 0px;
        }

        .intro-text p  {
            font-size: 20px !important;
        }

        .background-font{
            font-size: 1em !important;
        }
/* 
        .section-2  {
            height: 115vh !important;
        } */

        .section-2 .card h2 {
            font-size: 23px;
        }

        .section-2 .card p {
            font-size: 15px;
        }

        /* .section-3 {
            padding-top: 200px;
        } */

        /* .section-4 {
            height: 160vh !important; 
        } */

        
    }

    @media screen and (max-width: 320px) {
        .left-lines, .right-lines {
            display: none;
        }
    }

    @media screen and (max-width: 375px) {
        .skills h5 {
            font-size: 15px !important;
        }
    }

    /* .section-3 .intro-text {
        margin-top: 5vh !important;
    
    } */
/*Section 2*/
.section-2 {
    /* background-image: url("/images/backgroundsec2.png"); */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    /* background-color: #f0dead3d; */

}

.intro-text {
    font-family: 'Orbitron', sans-serif !important; 
}

.section-2 .card {
    border: none;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 400px; */
    padding: 40px;
    padding-bottom: 40px;
    margin-top: 20px;
    /* margin-bottom: 20px; */

    
}

.section-2 .card h2 {
    color: rgba(0,0,0,0.5);
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(-40px);
    transition-duration: 0.9s;
}

.section-2 .card:hover  h2 {
    opacity: 1;
    transform: translateY(-10px);
}

/*
.section-2 .card .show-this {
    font-size: 30px;
    transition-duration: 0.3s;
}

.section-2 .card:hover .show-this {
    visibility: hidden;
}

.section-2 .card .hide-this {
    visibility: hidden;
    transition-duration: 0.02s;
}

.section-2 .card:hover .hide-this {
    visibility: visible;

} */

.section-2 .card a {
    position: relative;
    display: inline-block;
    /* border: 1px solid #E24040; */
    color: black;
    padding: 10px;
    margin: 10px;
    opacity: 0;
    background-color: transparent;
    transform: translateY(40px);
    transition-duration: 0.9s;

}

.section-2 .card:hover a {
    opacity: 1;
    transform: translateY(0);
}

.section-2 .card a:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: transparent;
    z-index: -1;
    width: 0px;
    transition-duration: 1s;
}

.section-2 .card a:hover:after {
    border: 1px solid #E24040;
    width: 108px;
    /* background: #E24040; */

}

.section-2 .card:before {
    content: '';
    position: absolute;
    top: 30px;
    left: -4px;
    right: -4px;
    bottom: 30px;
    background: #ed4754;
    z-index: -1;
    transform: translateY(20deg);
    transition-duration: 0.5s;

}

.section-2 .card:hover:before {
    top: 0px;
    left: -8px;
    right: -8px;
    bottom: 0px;
}

.section-2 .card::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #ed4754;
    z-index: -2;
    transform: skew(0);
    transition-duration: 0.5s;
}

.section-2 .card:hover:after {
    top: 120px;
    left: -20px;
    right: -20px;
    bottom: 120px;
    transform: skew(3deg,-10deg);
}

/*Section 3*/
/* .section-3 {
    padding-top: 10px; */
    /* height: 100vh; */
    /* background-color: #f0dead3d; */
/* } */

.skills {
    /* width: 500px; */
    /* margin: 60px auto 0; */
    padding: 10px;
    color: rgba(255, 255, 255, 0.76);
}

.skills li {
    margin: 20px 0;
    list-style: none;
    padding: 10px;
}

.bar {
    background: rgba(255,255,255,0.5);
    display: block;
    height: 10px;
    border: 1px solid #ed4754;
    overflow: hidden;
    /* box-shadow: 0 0 5px #E24040; */
}

.bar span {
    margin: 1.5px;
    height: 5.5px;
    float: left;
    background: #ed4754;
}

.html {
    width: 90%;
}

.css3 {
    width: 85%;
}

.bootstrap4 {
    width: 84%;
}

.javascript {
    width: 70%;
}

.jquery {
    width: 65%;
}

.mysql {
    width: 50%;
}

.php {
    width: 50%;
}

.wordpress {
    width: 65%;
}

.angularjs {
    width: 60%;
}

.react {
    width: 30%;
}

.section-4 {
    padding-bottom: 10vh;
    /* padding-top: 20px;
    height: 100vh;
    background-color: #f0dead3d; */
}

/* .section-4 .intro-text {
    margin-top: 15rem;
} */

.section-4 .card {
    cursor: pointer;
    width: 300px;
    height: 250px;
    margin: 20px auto;
    border: none;
    background-color: transparent !important;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}

.section-4 .card img {
    height: 100%;
}


.section-4 .row {
    margin-top: 50px;
}

.front, .back {
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.front {
    transform: perspective(300px) rotateX(0deg);
}

.back {
    width: 100%;
    height: 100%;
    background: #ed4754;
    box-shadow: 0px 0px 50px 10px inset rgba(0,0,0,0.2);
    transform: perspective(300px) rotateX(180deg);
}

.section-4 .card:hover > .front {
    /* transform: perspective(400px) rotateY(-180deg); */
    transform: perspective(300px) rotateX(-180deg);

}


.section-4 .card:hover > .back {
    transform: perspective(300px) rotateX(0deg);

}

.front p {
    margin-top: 10px;
    font-size: 20px;
    color: #E24040;
    text-shadow: 0px 20px 1px inset rgba(0,0,0,0.2);
}

.back-content {
    margin-top: 30px;
    color: white;
}

.back-content p {
    font-size: 15px;
}

.section-5 {
    padding-top: 20px;
    background: url('images/footer.png');
    background-repeat: no-repeat;
    background-size: cover;

   
}

.section-5 .row {
    margin-top: 15rem;
    color: white;
}

.footer-content {
    margin-top: 80px;
    color: white;
}
